html {
	font-family: 'Helvetica Neue', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

.tagline {
	font-size: 2.0rem;
	margin: 2.5rem 0;
	font-weight: 150;
}

.icons-social i {
	padding: 10px;
	color: #000000;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

#avo {
  border-radius: 25px;
  height: auto;
	width: 15vw;
	float: left;
	position: relative;
	left: 15vw;
}

#typedName {
	font-size: 60px;
	font-family: 'Reem Kufi', sans-serif;
	color: #000000

}

.skills {
	font-family: 'Reem Kufi', sans-serif;
}

.projects-btn {
	font-size: x-large;
	color: #000000;
}

.projects {
	position: absolute;
	top: 5;
	border-radius: 15px;
}

main {
  animation-name: backgroundColorPalette;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p  {
  animation-name: textColorPalette;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColorPalette {
  0% {
    background: #eccbd9;
  }
  25% {
    background: #e1eff6;
  }
  50% {
    background: #97d2fb;
  }
  75% {
    background: #83bcff;
  }
  100% {
    background: #80ffe8;
  }
}

@keyframes textColorPalette {
  0% {
    color: #000000;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #000000;
  }
  75% {
    color: #000000;
  }
  100% {
    color: #000000;
  }
}